<div class="section f-section">
    <div class="container">
        <h1 class="section-title">
                  <span>
                  Мыктылар
                  </span>
            <a class="section-title-link" href="#">бардыгы</a>
        </h1>
        <section class="section-content posts f-posts clearfix">
            <app-featured-item></app-featured-item>
            <app-featured-item></app-featured-item>
            <app-featured-item></app-featured-item>
            <a href="#" class="f-post grid-4">
                <figure class="f-post-figure">
                    <img class="f-post-image" src="assets/img/13.jpg" alt="img03" />
                    <div class="f-post-deco f-post-deco-shine">
                        <div></div>
                    </div>
                    <div class="f-post-deco f-post-deco-overlay"></div>
                    <figcaption class="f-post-caption">
                        <h3 class="f-post-title">«Жуём мы как собаки»: советы по уходу за зубами для каждого уважающего себя человека</h3>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="f-post grid-4">
                <figure class="f-post-figure">
                    <img class="f-post-image" src="assets/img/21.jpg" alt="img03" />
                    <div class="f-post-deco f-post-deco-shine">
                        <div></div>
                    </div>
                    <div class="f-post-deco f-post-deco-overlay"></div>
                    <figcaption class="f-post-caption">
                        <h3 class="f-post-title">Рабочие места: Константин Бочарский, основатель и руководитель Pressfeed.ru</h3>
                    </figcaption>
                </figure>
            </a>
        </section>
    </div>
</div>