<a href="#" class="f-post grid-4">
    <figure class="f-post-figure">
        <img class="f-post-image" src="assets/img/30.jpg" alt="img03" />
        <div class="f-post-deco f-post-deco-shine">
            <div></div>
        </div>
        <div class="f-post-deco f-post-deco-overlay"></div>
        <figcaption class="f-post-caption">
            <h3 class="f-post-title">Необычные подарки на 23 Февраля и 8 Марта: механические конструкторы из дерева</h3>
        </figcaption>
        <div class="f-post-deco f-post-deco-lines"></div>
    </figure>
</a>