/* --------------------------------
Alignment
-------------------------------- */
.text-left {
    @include text-align(left);
}
.text-right {
    @include text-align(right);
}
.text-center {
    @include text-align(center);
}
/* --------------------------------
Clearfix
-------------------------------- */
.clearfix{
    @include clearfix();
}
/* --------------------------------
Replace text with a background-image
-------------------------------- */
.img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
/* --------------------------------
Hide elements
-------------------------------- */
.hide-s{
    display: none;
    @include breakpoint(medium){
        display: block;
    }
    @include breakpoint(large){
        display: block;
    }
    @include breakpoint(xlarge){
        display: block;
    }
}
.hide-m{
    display: none;
    @include breakpoint(large){
        display: block;
    }
}