@import "base";

::selection {
    background: #ef5350;
    color: $white;
}

/* --------------------------------
Header
-------------------------------- */

header{
  position: relative;
  height: 120px;
  padding: 35px 0;
  @include box-shadow(0 1px 5px transparentize($bx-light, 0.75));
  .container{
    text-align: center;
    > *{
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.nav{
  li{
    display: inline-block;
    a{
      padding: 6px 12px;
      font-family: $pt-sans-bold;
      font-size: 18px;
      letter-spacing: 0.5px;
    }
  }
}
/* --------------------------------
Logo
-------------------------------- */
.logo{
  margin: 0 30px;
  img{
    height: 50px;
    width: auto;
  }
}
/* --------------------------------
Slider
-------------------------------- */
/* --------------------------------
Content
-------------------------------- */
/* Content */
main{
  margin-bottom: 100px; //test
}

.section{

  &.f-section,
  &.p-section{
    background: $light-grey;
  }

  &-content{
    padding: 24px 0;
    position: relative;

    &.f-posts{
      margin-bottom: 16px;
    }

  }

  &-title,
  &-btn{
    font-family: $pt-sans-bold;
  }

  &-title{
    position: relative;
    margin: 24px 0 0;
    padding: 0 $grid-gutter-width/2;
    font-size: 24px;
    line-height: 1.5;

    span{
      position: relative;
      font-family: $museo-900;
    }

    &-link{
      position: absolute;
      top: 50%;
      right: $grid-gutter-width/2;
      color: $red;
      font-family: $museo-900;
      font-size: 14px;

      @include translateY(-50%);

      &:hover,
      &:active,
      &:focus{
        color: transparentize($red, 0.25);
      }
    }
  }

  &-btn-wrapper{
    text-align: center;
    padding: 0 0 48px;
  }

  &-btn{
    display: inline-block;
    padding: 12px 32px;
    background: transparentize($red, 0.25);
    color: $white;
    font-size: 12px;
    text-transform: uppercase;

    @include border-radius(2px);

    @include transition(all 0.3s ease);

    @include box-shadow(0 3px 10px transparentize($red, 0.25));

    &:hover,
    &:active,
    &:focus{
      color: $white;
      background: $red;
    }
  }

  &-sidebar{
    position: relative;
  }
}


.cat-section {

  &-title{
    padding: 0;
  }
  
}

//Featured Posts
.f-post {
  display: block;
  position: relative;
  color: $white;

  * {
    pointer-events: none;
  }

  &:hover,
  &:focus {
    color: $white;
    outline: none;
  }

  &-figure,
  &-image {
    margin: 0;
    width: 100%;
    height: 360px;
    display: block;
  }

  &-figure {
    position: relative;

    > * {
      transform: translateZ(0px); /* Force correct stacking order */
    }

    &::before {
      @include pseudos;
      @include size(90%, 90%);
      top: 5%;
      left: 5%;
      @include box-shadow(0 30px 20px rgba(35, 32, 39, 0.5));
    }
  }

  &-deco {
    @include abs-positioned(0,0);
    @include square(100%);
    overflow: hidden;

    &-overlay{
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
    }

    &-shine{
      div{
        @include abs-positioned(-50%, -50%);
        @include square(200%);
      }
    }
  }

  &-caption{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 32px;
  }

  &-title{
    margin: 0;
    font-weight: normal;
    font-family: $pt-sans-bold;
    font-size: 20px;
    text-shadow: 0.1em 0.8em 1em rgba(0,0,0,0.35);
    text-transform: uppercase;
  }

  &-description{
    margin: 16px 0 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
  }
}

.smooth .f-post {
  &-figure,
  &-deco-overlay,
  &-deco-shine div,
  &-caption {
    transition: transform 0.2s ease-out;
  }
}

//Latest Posts
.l-post,
.r-post,
.cat-post,
.bloggers,
.blog-post,
.blogger-post{

  &-thumb{
    position: relative;
    overflow: hidden;
    height: 160px;
  }

  &-image{
    @include abs-centered(width);
  }

  &-caption{
    padding: 16px 0;
  }
  &-title{
    height: 60px;
    font-family: $pt-sans-bold;
    font-size: 16px;
    line-height: 20px;
  }

  &-details{
    margin-bottom: 12px;
    svg{
      @include abs-positioned();
      fill: $grey;
    }
  }

  &-date,
  &-views,
  &-comments{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    color: $grey;
    font-size: 12px;
    line-height: 18px;
  }

  &-views,
  &-comments{
    position: relative;
    padding-left: 20px;
  }

  &-date{
    //text-transform: uppercase;
  }

  &-views {
    svg {
      @include abs-positioned(1,1);
      width: 16px;
      height: 16px;
    }
  }

  &-comments {
    svg {
      @include abs-positioned(3,3);
      width: 12px;
      height: 12px;
    }
  }
}

//Popular Posts
.p-post{
  margin-bottom: 24px;

  &-thumb{
    position: relative;
    overflow: hidden;
    height: 224px;

    &::after{
      @include pseudos();
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparentize($post-thumb-overlay, 0.65);
    }
  }

  &-large{
    .p-post-thumb{
      height: 472px;
    }
  }

  &-image{
    @include abs-centered(width);
  }

  &-caption{
    position: absolute;
    bottom: 0;
    padding: 16px;
    //background: $white;
    //@include box-shadow(0 3px 10px rgba(0, 0, 0, 0.15));
  }
  &-title{
    font-family: $pt-sans-bold;
    font-size: 16px;
    line-height: 20px;
    color: $white;
  }

  &-details{
    margin-bottom: 16px;
    svg{
      @include abs-positioned();
      fill: $grey;
    }
  }

  &-date,
  &-views,
  &-comments{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    color: $white;
    font-size: 12px;
    line-height: 18px;
  }

  &-views,
  &-comments{
    position: relative;
    padding-left: 20px;
  }

  &-date{
    //text-transform: uppercase;
  }

  &-views {
    svg {
      @include abs-positioned(1,1);
      width: 16px;
      height: 16px;
      fill: $white;
    }
  }

  &-comments {
    svg {
      @include abs-positioned(3,3);
      width: 12px;
      height: 12px;
      fill: $white;
    }
  }
}

//Blogs
.b-post{
  padding-bottom: 12px;
  margin-bottom: 12px;
  @include border(1px solid transparentize($grey, 0.75), bottom);

  &:last-child{
    @include border(none);
  }

  &-thumb{
    position: relative;
    overflow: hidden;
    height: 280px;
  }

  &-image{
    @include abs-centered(width);
  }

  &-caption{
    position: relative;
  }

  &-title{
    height: 40px;
    margin-bottom: 16px;
    font-family: $pt-sans-bold;
    font-size: 16px;
    line-height: 20px;
  }

  &-details{
    margin-bottom: 8px;
    svg{
      @include abs-positioned();
      fill: $grey;
    }
  }

  &-author,
  &-date,
  &-views,
  &-comments{
    display: inline-block;
    vertical-align: middle;
    color: $grey;
    font-size: 12px;
    line-height: 18px;
    margin-right: 8px;
  }

  &-views,
  &-comments{
    position: relative;
    padding-left: 20px;
  }

  &-author{
    position: relative;
    padding-right: 8px;

    &::after{
      @include pseudos();
      @include square(4px);
      @include border-radius(50%);
      top: 6px;
      right: -4px;
      background: $grey;
    }
  }

  &-views {
    svg {
      @include abs-positioned(1,1);
      width: 16px;
      height: 16px;
    }
  }

  &-comments {
    svg {
      @include abs-positioned(3,3);
      width: 12px;
      height: 12px;
    }
  }

  &-author-with-thumb{
    display: block;
    width: 100%;
    cursor: pointer;
  }
  &-author-thumb,
  &-author-name{
    display: inline-block;
    vertical-align: middle;
  }

  &-author-thumb{
    @include border-radius(50%);
    overflow: hidden;
    margin-right: 16px;

    img{
      width: 32px;
      height: 32px;
    }
  }

  &-author,
  &-author-name{
    color: $red;
    font-family: $pt-sans-bold;
    text-transform: uppercase;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus,
    &:active:focus{
      color: transparentize($red, 0.25);
    }
  }

  &-author-name{
    font-size: 12px;
  }

  &-with-thumb{
    @include border(none);

    .b-post-caption{
      padding: 16px;
      background: $white;
      @include box-shadow(0 3px 10px transparentize($dark, 0.85));
    }
    .b-post-details{
      position: absolute;
      top: -36px;
      margin-bottom: 0;

      svg{
        fill: $white;
      }
    }
    .b-post-date,
    .b-post-views,
    .b-post-comments{
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      color: $white;
      font-size: 12px;
      line-height: 18px;
    }
    .b-post-author{
      padding: 0;
      margin-bottom: 16px;
      &::after{
        display: none;
      }
    }
    .b-post-title{
      height: 60px;
      margin-bottom: 0;
      font-size: 16px;
    }
  }
}

//Article
.post{
  padding-bottom: 12px;

  &-figure{
    position: relative;
    margin-bottom: 32px;
  }

  &-thumb{
    position: relative;
    overflow: hidden;
    height: 480px;

    &::after{
      @include pseudos();
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparentize($post-thumb-overlay, 0.75);
    }
  }

  &-image{
    @include abs-centered(width);
  }

  &-share{
    @include abs-positioned(-1,32,32,-1);

    a{
      display: block;
    }

    svg{
      display: block;
      margin-bottom: 16px;
      @include square(20px);
      fill: $white;
    }
  }

  &-caption{
    display: block;
    @include abs-positioned(0,-1,64,0);
    padding: 32px;
  }

  &-title{
    color: $white;
    font-family: $museo-700;
    font-size: 24px;
    letter-spacing: 0.75px;
  }

  &-details{
    margin-bottom: 8px;
    svg{
      @include abs-positioned();
      fill: $white;
    }
  }

  &-author,
  &-category,
  &-date,
  &-views,
  &-comments{
    display: inline-block;
    vertical-align: middle;
    color: $white;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 8px;
  }

  &-views,
  &-comments{
    position: relative;
    padding-left: 20px;
  }

  &-author,
  &-category{
    position: relative;
    padding-right: 8px;
    cursor: pointer;

    &::after{
      @include pseudos();
      @include square(4px);
      @include border-radius(50%);
      top: 6px;
      right: -4px;
      background: $grey;
    }
  }

  &-category{
    &:hover,
    &:focus,
    &:active{
      color: transparentize($white, 0.5);
    }
    &::after{
      background: $white;
    }
  }

  &-views {
    svg {
      @include abs-positioned(1,1);
      width: 16px;
      height: 16px;
    }
  }

  &-comments {
    svg {
      @include abs-positioned(3,3);
      width: 12px;
      height: 12px;
    }
  }

  &-author-with-thumb{
    display: block;
    width: 100%;
    cursor: pointer;
  }
  &-author-thumb,
  &-author-name{
    display: inline-block;
    vertical-align: middle;
  }

  &-author-thumb{
    @include border-radius(50%);
    overflow: hidden;
    margin-right: 8px;

    img{
      width: 48px;
      height: 48px;
    }
  }

  &-author,
  &-author-name{
    font-family: $pt-sans-bold;
    text-transform: uppercase;
  }

  &-author-name{
    font-size: 12px;
  }

  &-with-thumb{
    @include border(none);

    .b-post-caption{
      padding: 16px;
      background: $white;
      @include box-shadow(0 3px 10px transparentize($dark, 0.85));
    }
    .b-post-details{
      position: absolute;
      top: -36px;
      margin-bottom: 0;

      svg{
        fill: $white;
      }
    }
    .b-post-date,
    .b-post-views,
    .b-post-comments{
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      color: $white;
      font-size: 12px;
      line-height: 18px;
    }
    .b-post-author{
      padding: 0;
      &::after{
        display: none;
      }
    }
    .b-post-title{
      height: 60px;
      font-size: 16px;
    }
  }

  &-content{
    p{
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 1.5;
    }

    blockquote{
      padding: 32px;
      text-align: center;
      i{
        color: $red;
        font-size: 24px;
        font-style: italic;
      }
      span{
        position: relative;
        display: inline-block;
        padding-top: 16px;
        color: $grey;
        font-size: 12px;
        letter-spacing: 0.75px;
        text-transform: uppercase;

        &::before{
          @include pseudos();
          @include square(4px);
          @include border-radius(50%);
          @include translateX(-50%);
          top: 6px;
          left: 50%;
          background: $grey;
        }
      }
    }
  }

  &-footer{
    padding: 16px 0 0;
    text-transform: uppercase;
    a{
      margin-left: 4px;
      font-family: $pt-sans-bold;
    }
  }
}

.cat-two-post{

  &-thumb{
    position: relative;
    overflow: hidden;
    height: 250px;
  }

  &-image{
    @include abs-centered(width);
  }

  &-caption{
    padding: 16px 0 0;
  }
  &-title{
    height: 60px;
    font-family: $pt-sans-bold;
    font-size: 16px;
    line-height: 20px;
  }

  &-details{
    margin-bottom: 16px;
    svg{
      @include abs-positioned();
      fill: $grey;
    }
  }

  &-date,
  &-views,
  &-comments{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    color: $grey;
    font-size: 12px;
    line-height: 18px;
  }

  &-views,
  &-comments{
    position: relative;
    padding-left: 20px;
  }

  &-date{
    //text-transform: uppercase;
  }

  &-views {
    svg {
      @include abs-positioned(1,1);
      width: 16px;
      height: 16px;
    }
  }

  &-comments {
    svg {
      @include abs-positioned(3,3);
      width: 12px;
      height: 12px;
    }
  }
}

.cat-sidebar {
  
  &-title{
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-family: $pt-sans-bold;
  }
  &-ul{
    background: $light-grey;
    padding: 16px;

    @include box-shadow(0 3px 10px transparentize($bx-light, 0.85));

  }

  &-news{
    margin-top: 10px;
    border-bottom:1px solid #eee;
  }

  &-news:last-child{
    border-bottom:none;
  }

  &-news:first-child{
    margin-top: 0;
  }

  .cat-post-date{
    text-transform:none;
  }
}

// Filter on popular page
.nav-filter{
  position: absolute;
  bottom: 4px;
  right: 0;
  font-size: 14px;

  li{
    a{
      color: #009688;
      padding: 6px;
    }

    a:hover, a:active, a:focus {
      color: #d0072a;
    }
  } 

  li:last-child a{
    padding:0;
  } 

  .nav{
    display: inline-block;
    border-radius: 50em;
  }

  &-label{
    font-family:$pt-sans !important;
    margin-right:10px;
    bottom:1px;
  }
}

// Bloggers sidebar
.bloggers{

  &-ul{
    background: $light-grey;
    padding: 16px;

    @include box-shadow(0 3px 10px transparentize($bx-light, 0.85));

  }

  &-list{
    border-bottom: 1px solid #eee;
  }

  &-list:last-child {
    border-bottom:none;
  }

  &-author-thumb,
  &-details,
  &-img{
    display: table-cell;
    vertical-align:middle;
    
  }
  &-img {
    padding-right: 12px;
  }

  &-author-thumb{
    @include border-radius(50%);
    overflow: hidden;

    img{
      width: 48px;
      height: 48px;
    }
  }
}

.blog-post{
  &-thumb{
    height:230px;
  }
  &-author {

    a{
      color:red;
    }
  }
  &-desc{
    height:60px;
  }

  .b-post-author::after{
    top: 8px;
  }

}

// Bloggers profile 

.profile {

  &-info{

  }
  &-avatar,
  &-user{
    display: table-cell;
    vertical-align:middle;
  }

  &-avatar{
   

    img {
      width:130px;
      height:130px;
      border-radius:50%;
    }

  }
  &-user{
    padding-left:20px;
    width: 100%;


    h3{
      font-size:22px;
      font-family: $pt-sans-bold;
      line-height: 24px;
      margin-bottom: 8px
    }

    &-links{


      li{
        display:inline-block;
        vertical-align: middle;
        a{
          padding-right: 8px;
        }
      
      }

      li:first-child,
      li:last-child{
      }

      &-fb svg,
      &-tw svg,
      &-in svg{
        width: 14px;
        height: 14px;
      }

      &-fb svg,
      &-tw svg,
      &-in svg {
        fill:$grey;
      }
    }

  }
  &-bio {
    font-size: 16px;
    margin-bottom: 8px;

  }
}

// Bloggers content
.blog-content{

  &-nav{
    border-bottom:2px solid #eee;
    margin-bottom:20px;

    ul{
      margin-bottom: -2px;
    }

    li{
      float:left;
      margin-right: 8px;

      a{
        display: block;        
        padding: 8px 16px 8px 0;

        &:hover{
          color:$red;
          border-bottom:2px solid $red;
        }
      } 
      .active{
        border-bottom:2px solid $red;
        color:$red;
      }     
    }
  }
}

.blogger-post{

  padding: 20px 0;
  border-bottom:1px solid rgba(238, 238, 238, 0.38);

  &-thumb{
    display: table-cell;
    width: 280px;
    height:160px;
  }


  &-caption{
    display: table-cell;
    padding: 0 20px;
  }
  &-title{
    height:inherit;
    margin-bottom:10px;
  }
}

.twitter-timeline{
  background:#f8f8f8;
  @include box-shadow(0 3px 10px transparentize($bx-light, 0.85));
  
}