<footer class="footer">
    <div class="container">
        <div class="grid-3 copyright">
            <a href="#">
                <img src="assets/images/logo-white.png" alt="">
            </a>
            &copy; Beles Media, Inc.
        </div>
        <div class="grid-9">
            <div class="row">
                <div class="grid-3 nav-list">
                    <ul>
                        <h4>Бөлүмдөр</h4>
                        <li><a href="#">Макалалар</a></li>
                        <li><a href="#">Мыктылар</a></li>
                        <li><a href="#">Популярдуу</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Блоггерлер</a></li>
                    </ul>
                </div>
                <div class="grid-3 nav-list">
                    <ul>
                        <h4>Рубрикалар</h4>
                        <li><a href="#">Чыгармачылык</a></li>
                        <li><a href="#">Спорт</a></li>
                        <li><a href="#">Жашоо</a></li>
                        <li><a href="#">Кеңештер</a></li>
                        <li><a href="#">Сулуулук</a></li>
                        <li><a href="#">Ден соолук</a></li>
                    </ul>
                </div>
                <div class="grid-3 nav-list">
                    <ul>
                        <h4>Белес Медиа</h4>
                        <li><a href="#">Сайт жөнүндө</a></li>
                        <li><a href="#">Жардам</a></li>
                        <li><a href="#">Байланыш</a></li>
                        <li><a href="#">Шериктештерге</a></li>
                        <li><a href="#">Колдонуу шарттары</a></li>
                        <li><a href="#">Автордук укук</a></li>
                    </ul>
                </div>
                <div class="grid-3 nav-list">
                    <ul>
                        <h4>Соцтармактар</h4>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">ВКонтакте</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Intagram</a></li>
                        <li><a href="#">Одноклассники</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>