@mixin background( $image, $size: 100%, $repeat: no-repeat, $position-hr: 0, $position-vr:0, $color: null){
    background-color: $color;
    background-image: url($image);
    background-repeat: $repeat;
    background-position: $position-vr $position-hr;
    -webkit-background-size:$size;
    background-size:$size;
}
@mixin bg-size($size...){
    -webkit-background-size:$size;
    background-size:$size;
}