@mixin abs-centered($type: false){
    @if ($type == width){
        width: 100%;
        height: auto;
    }
    @if ($type == height){
        height: 100%;
        width: auto;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
@mixin abs-positioned($left: null, $top: null, $right: null, $bottom: null){
    position: absolute;
    @if $left and $left >= 0 {left: $left+px;}
    @if $top and $top >= 0 {top: $top+px;}
    @if $right and $right >= 0 {right: $right+px;}
    @if $bottom and $bottom >= 0 {bottom: $bottom+px;}
}
@mixin relative($z-index: 0, $left: null, $top: null, $right: null, $bottom: null){
    position: relative;
    z-index: $z-index;
    @if $left {left: $left;}
    @if $top {top: $top;}
    @if $right {right: $right;}
    @if $bottom {bottom: $bottom;}
}
@mixin fixed($z-index: 0, $left: false, $top: false, $right: false, $bottom: false){
    position: fixed;
    z-index: $z-index;
    @if $left {left: $left;}
    @if $top {top: $top;}
    @if $right {right: $right;}
    @if $bottom {bottom: $bottom;}
}